@model DbProjectAirbnb.Web.Model.Host

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Host</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class ="form-control" asp-items="ViewBag.Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeighborhoodId" class="control-label"></label>
                <select asp-for="NeighborhoodId" class ="form-control" asp-items="ViewBag.NeighborhoodId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PictureUrl" class="control-label"></label>
                <input asp-for="PictureUrl" class="form-control" />
                <span asp-validation-for="PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseRate" class="control-label"></label>
                <input asp-for="ResponseRate" class="form-control" />
                <span asp-validation-for="ResponseRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseTime" class="control-label"></label>
                <input asp-for="ResponseTime" class="form-control" />
                <span asp-validation-for="ResponseTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Since" class="control-label"></label>
                <input asp-for="Since" class="form-control" />
                <span asp-validation-for="Since" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailUrl" class="control-label"></label>
                <input asp-for="ThumbnailUrl" class="form-control" />
                <span asp-validation-for="ThumbnailUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
