@{
    Layout = "_Layout";
}

<div class="row">

    <div class="col-2">
        Deliverable 2
        <nav class="nav flex-column">
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="201">Query 2-01</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="202">Query 2-02</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="203">Query 2-03</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="204">Query 2-04</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="205">Query 2-05</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="206">Query 2-06</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="207">Query 2-07</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="208">Query 2-08</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="209">Query 2-09</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="210">Query 2-10</a>
        </nav>
        Deliverable 3
        <nav class="nav flex-column">
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="301">Query 3-01</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="302">Query 3-02</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="303">Query 3-03</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="304">Query 3-04</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="305">Query 3-05</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="306">Query 3-06</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="307">Query 3-07</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="308">Query 3-08</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="309">Query 3-09</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="310">Query 3-10</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="311">Query 3-11</a>
            <a class="nav-link" asp-controller="PredefinedQueries" asp-action="PredefinedQueryDetails" asp-route-id="312">Query 3-12</a>
        </nav>
    </div>

    <div class="col-10">
        @RenderBody()
    </div>

</div>