@using System.Data
@model DbProjectAirbnb.Web.Entities.PredefinedQuery

@{
    ViewBag.Title = $"Query {Model.Deliverable}{Model.Order:00}";
    Layout = "_PredefinedQueriesLayout";
}

<h2>@ViewBag.Title</h2>

<h3>Query Description</h3>
<p class="lead">@Model.Description</p>

<h3>Query SQL</h3>
<pre>
@Model.Sql
</pre>

<h3>Result</h3>

@if (Model.DataTable != null)
{
    <table class="table">
        @foreach (DataRow row in Model.DataTable.Rows)
        {
            <tr>
                @foreach (DataColumn column in Model.DataTable.Columns)
                {
                    <td>@row[column.ColumnName].ToString()</td>
                }
            </tr>
        }
    </table>
}